MODEL_NAME=qwen2.5:7b
OLLAMA_BASE_URL=http://localhost:11434
MOCK_MCP_PATH=tests/team_b/mock_data/mock_mcp_response.json
MAX_VALIDATION_ITERATIONS=3


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_key_here
LANGSMITH_PROJECT=Exam generator and validator