GROQ_API_KEY=Your_Groq_API_Key_Here

MODEL_NAME=Your_Model_Name_Here

# MCP
USE_REAL_MCP=false
MCP_SERVER_HOST=localhost
MCP_SERVER_PORT=8000


# Exam and answers source
USE_REAL_EXAM=false
USE_REAL_ANSWERS=false